<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skincap">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_skincap"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_skincap"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skincap">
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OnBoarding" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.peripherals.ForCheckSkin"/>
        <activity android:name=".ui.journal.CreateJournal" />
    </application>

</manifest>